body {
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

.card {
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#textfield {
    border-radius: 15px;
}

.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
}

.version {
    margin-top: 5px;
}

.resultsblock{
    background-color: aliceblue;
}


